@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap');

@font-face {
  font-family: 'Socialico';
  src: url('../../static/fonts/Socialico-Regular.woff');
}

@font-face {
  font-family: 'SocialicoPlus';
  src: url('../../static/fonts/SocialicoPlus-Plus.woff');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

header {
  height: 98px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.95);
  /* box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.05); */
}

.hdr-normal {
  display: block;
}

.hdr-col {
  display: none;
}

.header-link {
  color: #6c6c6c;
  text-decoration: none;
  font-family: 'Raleway';
  margin: 0 18px;
  padding: 8px 16px;
  border-radius: 10px;
}

.active-header-link {
  color: white;
  background-color: #6c6c6c;
}

.prf-hdr-ctr {
  color: #6c6c6c;
  font-size: 36px;
  margin: 36px;
  display: grid;
  grid-template-columns: minmax(250px, 25%) auto;
}

.prf-hdr-intro > div {
  line-height: 36px;
  margin-bottom: 36px;
}

.prf-hdr-img {
  margin: auto;
}

.prf-hdr-social {
  display: flex;
}

.hdr-col-menu {
  width: 50px;
  height: 40px;
  position: relative;
  cursor: pointer;
}

.hdr-col-menu-bar {
  position: absolute;
  height: 2px;
  background-color: #6c6c6c;
  left: 12px;
  right: 12px;
}

.hdr-col-menu-bar-1 {
  top: 14px;
  transition: top 250ms 150ms ease-out, transform 150ms ease-out;
}

.hdr-col-menu-bar-2 {
  bottom: 14px;
  transition: bottom 250ms 150ms ease-out, transform 150ms ease-out;
}

.hdr-col-menu-bar-1-open {
  top: 19px;
  transform: rotate(45deg);
  transition: top 150ms ease-out, transform 250ms 150ms ease-out;
}

.hdr-col-menu-bar-2-open {
  bottom: 19px;
  transform: rotate(-45deg);
  transition: bottom 150ms ease-out, transform 250ms 150ms ease-out;
}

.hdr-col-itm-ctr {
  background-color: rgba(255, 255, 255, 0.95);
  position: absolute;
  left: 0;
  right: 0;
  top: 98px;
  height: 0;
  transition: 350ms ease-out;
  overflow: hidden;
}

.hdr-col-itm-ctr-exp {
  height: calc(100vh - 98px);
}

.hdr-col-itm-ctr-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 250ms 100ms ease-out;
}

.hdr-col-itm-ctr-inner-exp {
  opacity: 1;
}

.header-link-col {
  font-size: 36px;
  height: 48px;
  text-decoration: none;
  margin: 16px 0;
  display: flex;
  align-items: center;
  color: #6c6c6c;
  padding: 8px 24px;
  border-radius: 10px;
}

.section-container {
  margin: 16px 64px;
  padding: 32px 0;
}

.section-header {
  color: #6c6c6c;
  font-size: 18px;
  font-weight: bold;
  margin: 16px auto;
  max-width: 800px;
}

.section-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.tech-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
  width: 180px;
}

.tech-item > img {
  height: 60px;
}

.tech-item > span {
  color: #6c6c6c;
  margin: 8px 0;
}

.proj-item {
  width: 260px;
  height: 300px;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.2), 0 0 50px 0px rgba(0, 0, 0, 0.09);
  margin: 32px;
  padding: 16px;
  color: #6c6c6c;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  cursor: pointer;
  transition: box-shadow 200ms ease-out;
}

.proj-item:hover {
  box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2), 0 0 50px 0px rgba(0, 0, 0, 0.09);
}

.proj-item-title {
  font-size: 24px;
  margin: 24px 0;
  text-align: center;
}

.proj-item-desc {
  font-size: 16px;
  margin: 0 16px;
}

.proj-item-spacer {
  margin: auto;
}

.proj-item-tags {
  display: flex;
}

.proj-item-tags-itm {
  margin-right: 4px;
  font-size: 12px;
  padding: 4px 12px;
  border-radius: 10px;
  color: white;
}

.tag-datascience {
  background-color: #ff6060;
}

.tag-webdev {
  background-color: #209d21;
}

.tag-educ {
  background-color: #ff9628;
}

.tag-ai {
  background-color: #20259d;
}

.tag-dl {
  background-color: #a907c4;
}

.tag-cv {
  background-color: #a8a600;
}

footer {
  padding: 48px 16px;
}

.blog-header {
  color: #6c6c6c;
  font-size: 36px;
  text-align: center;
}

.blog-list {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 16px;
}

.blog-list-item {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
  padding: 16px;
  color: #6c6c6c;
  text-decoration: none;

  transition: color 150ms linear,
              border 150ms linear;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0);

  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.blog-list-item span:nth-child(2) {
  font-size: 12px;
}

.blog-list-item:hover {
  color: #0c0c0c;
  border: 1px solid rgba(0, 0, 0, 0.3)
}

.blog-content {
  padding: 0 16px;
  max-width: 750px;
  margin: 0 auto;
  line-height: 1.5;
  font-family: -apple-system, 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue',
    'Arial', sans-serif;
}

.blog-content blockquote {
  background: rgba(0, 0, 0, 0.03);
  padding: 8px 32px;
}

.blog-content h1 {
  color: #6c6c6c;
}

.blog-body {
  margin-bottom: 36px;
  text-align: justify;
}

@media only screen and (max-width: 600px) {
  .prf-hdr-ctr {
    grid-template-columns: 100%;
    font-size: 24px;
    margin: 16px;
    text-align: center;
  }

  .prf-hdr-intro > div {
    line-height: 24px;
    margin-bottom: 16px;
  }

  .prf-hdr-img {
    margin: 24px auto;
  }

  .prf-hdr-social {
    margin: 16px auto;
  }

  .hdr-normal {
    display: none;
  }

  .hdr-col {
    display: block;
  }

  .section-container {
    margin: 64px 8px;
    padding: 0;
  }

  .section-header {
    text-align: center;
  }

  .tech-item {
    width: 110px;
  }

  .tech-item > img {
    height: 36px;
  }

  .tech-item > span {
    text-align: center;
  }

  .proj-item {
    width: 220px;
    height: 260px;
    margin: 24px;
  }

  .proj-item-title {
    font-size: 22px;
    margin: 24px 0;
    text-align: center;
  }

  .proj-item-desc {
    font-size: 14px;
  }

  .proj-item-tags-itm {
    font-size: 10px;
    padding: 4px 8px;
  }

  footer {
    padding: 24px 8px;
  }

  .blog-header {
    text-align: left;
    padding: 0 16px;
  }

  .blog-content h1 {
    text-align: center;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  .prf-hdr-ctr {
    font-size: 26px;
  }

  .section-container {
    margin: 32px 16px;
  }

  .section-header {
    margin-left: 48px;
  }

  .proj-item {
    width: 220px;
    height: 260px;
    margin: 24px;
  }

  .proj-item-title {
    font-size: 22px;
    margin: 24px 0;
    text-align: center;
  }

  .proj-item-desc {
    font-size: 14px;
  }

  .proj-item-tags-itm {
    font-size: 10px;
    padding: 4px 8px;
  }

  footer {
    padding: 48px 16px;
  }

  .blog-header {
    text-align: center;
  }
}

.social-icon {
  margin: 0 8px;
  font-size: 64px;
}

.social-icon > a {
  text-decoration: none;
  color: #6c6c6c;
  transition: 150ms linear;
}

.si {
  font-family: 'Socialico';
}

.sip {
  font-family: 'SocialicoPlus';
}

.si-linkedin > a:hover {
  color: #0077b5;
}

.si-twitter > a:hover {
  color: #1ea1f2;
}

.si-mail > a:hover {
  color: red;
}

.si-github > a:hover {
  color: black;
}

/* html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
} */
